* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  line-height: 1.6;
  background: #193c1b;
}

.app {
  background: #fff;
  width: 90%;
  max-width: 600px;
  margin: 50px auto;
  border-radius: 10px;
  padding: 20px;
}

.app h1 {
  font-size: 22px;
  color: #001e4d;
  font-weight: 600;
  border-bottom: 1px solid #333;
  padding-bottom: 20px;
}

.quiz {
  padding: 15px 0;
}

.quiz h2 {
  font-size: 18px;
  color: #001e4d;
  font-weight: 600;
  margin-bottom: 15px;
}

.btn {
  background: #fff;
  color: #222;
  font-weight: 500;
  width: 100%;
  border: 1px solid #222;
  padding: 12px;
  margin: 10px 0;
  text-align: center;
  border-radius: 4px;
  cursor: pointer;
  transition: background 0.3s;
}

.btn:hover:not([disabled]) {
  background: #222;
  color: #fff;
}

.btn:disabled {
  cursor: not-allowed;
  opacity: 0.7;
}

#next-btn {
  background: #001e4d;
  color: #fff;
  font-weight: 500;
  width: 150px;
  border: 0;
  padding: 12px;
  margin: 20px auto 0;
  border-radius: 4px;
  cursor: pointer;
  display: none;
  text-align: center;
}

.correct {
  background: #9aeabc;
  color: #001e4d;
}

.incorrect {
  background: #ff9393;
  color: #001e4d;
}